/*---
---

@import "{{ site.theme }}";

li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;

}
a {
    text-decoration: none;
    padding: 2vw;
}
a:hover {
    background-color: #79331c;
}

ul {
    margin: 0;
    display: flex;
}
*/