---
---

@import "{{ site.theme }}";

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navlinks {
    float: left;
}

#navanchor {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}